body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  margin-top: 1.5rem;
  padding: 0 0 1rem 2rem;
  border-bottom: 1px solid gray; 
  font-size: .9rem;
  font-weight: 500;
}

.nav-bar {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  padding: 2rem;
  background-color: #433E3E;
}
.link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 500;

  
}

.link:hover {
  filter: brightness(0.7);
}

.link:focus {
  color: black;
  
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  
  /* border: 2px solid red; */
  position: relative;
  top: 4px;
  right: 2px;
  height: 22px;
  width: 34px;
  background-color:rgb(218, 201, 181);
}

.container {
  padding-bottom: 2.5rem;
 /* position: relative;
 min-height: 100vh; */
}

.main-image-div {
  display: flex;
  /* justify-content: center; */
  margin: 18px 18px 0px 18px;
}

.image-div {
  
  /* margin-top: 18px; */
  /* height: 216px; */
  height: 432px;
  /* width: 199px; */
  width: 398px;
  /* border: 12px solid red;  */

}

.ready-div {
  position:relative;
  top: -150px;
  left: 585px;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 4px 9px 4px rgb(66, 63, 63);
  width: 297px;
  height: 200px;
  text-align: center;

}

.ready-text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.latest-text {
  /* margin-top: 40px; */
  margin: 40px 0px -12px 0px;
}

.top-shop-button {
  position: relative;
  top: -180px;
  left: 660px;
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding-top: 15px;
  background-color: black;
  width: 195px;
  height: 70px;
  
}

/* .top-shop-text {
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding-top: 15px;
} */


img {
  height: 100%;
  width: 100%;
  /* border: 2px solid green; */
}

.banner {
  /* border: 2px solid green; */
  margin-top: 8px;
  height: 302.45px;
}

.trends {
  /* border: 2px solid rgb(128, 0, 117); */
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.middle-image-div {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 18px 88px 0px 88px;
  height: 432px;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  
}

/* .mods {
  margin-right: 58px;
} */

.mod7 {
  border: .7px solid rgb(236, 228, 228);
}

.bag {
  width: 329px;
  /* border: 2px solid green; */
}

.mod8 {
  width: 364px;
  position: relative;
  left: -1px;
  /* border: 2px solid green; */
}

.shoes {
  position:relative;
  left: 1px;
  width: 338px;
  /* border: 2px solid green; */

}

.acc-image-div {
  /* border: 2px solid green; */
  margin-top: 250px;
  
}

.mod9 {
  /* border: 2px solid red; */
  /* margin-top: 250px; */
  width: 1270px;
  height: 700px;
  
}

.complete-div {
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  /* border: 2px solid red; */
  position: relative; 
  top: -580px;
  left: 680px;
  width: 428px;
}

.text {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 55px;
  text-shadow: 2px 10px 8px rgb(70, 62, 62);
}

.look {
  /* border: 2px solid green; */
  margin-top: -33px;
  position: relative;
  left: 30px;
  
}

.acc-button {
  position: relative; 
  top: -580px;
  left: 820px;
  height: 50px;
  padding: 15px;
  border: #AA704F;
  background-color: #AA704F;
  color: white;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 7px 5px 4px rgb(122, 116, 116);
}

.new {
  margin-top: -50px;
  /* border: 2px solid green; */
}

.final-image-div {
  display: flex;
  /* border: 2px solid green;  */
}

.mod10 {
  width: 539px;
  height: 609px;
  margin: 130px 0px 0px 118px;
}

.mod11 {
  position: relative;
  top: 239px;
  width: 557px;
  height: 500px;
}

.items-div {
  position: relative;
  top: -595px;
  left: 835px;
  /* text-align: center; */
  border: 2px solid #E5E5E5;
  background: #E5E5E5;
  box-shadow: 5px 5px 4px rgb(85, 80, 80);
  width: 269px;
  height: 130px;
}

.check-text {
  margin: 32px 0px 0px 60px;
  font-weight: bold;
  font-size: 17px;
}

.new-text {
  /* border: 2px solid green; */
  margin: 0px 0px 0px 60px;
  font-weight: bold;
  font-size: 17px;
}

.shop-div {
  position: relative;
  top: -640px;
  left: 905px;
  text-align: center;
  background-color: #3C3539;
  width: 160px;
  height: 50px;
}

.shop-text {
  color: white;
  font-weight: bold;
  padding-top: 15px;
  /* margin-top: 12px; */
  
}

.list-div {
  display: flex;
  justify-content: space-evenly;
  background-color: #433E3E;
  /* border: 2px solid blue; */
  color: white;
  padding: 15px;
  /* position: fixed;
  left: 0;
  bottom: 0;
  right: 0; */
}



.list {
  list-style: none;
}

.list-header {
  font-weight: bold;
  margin-bottom: 15px;
}

/* men */
.mens-main {
  display: flex;
}

.men-title {
  /* border: 2px solid red; */
  margin: 50px 0 0 60px;
  font-size: 26px;
}



.question-div {
  /* border: 2px solid red; */
  margin: 140px 0 0 280px;
  font-size: 20px;
  font-weight: bold;
}

.mens-pic-div {
  /* border: 2px solid red; */
  display: flex;
  margin: 50px 0 0 70px;
  justify-content:space-evenly;
  
}

.circle-pic {
  /* border: 2px solid green; */
  width: 200px;
  height: 200px;
  margin-right: 30px;
  text-align: center;
  font-weight: bold;
}

.fit-div {
  margin-top: 200px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.mens-active-parent {
  display: flex;
  justify-content: space-between;
}

.mens-active-div {
  margin: 30px 0 50px 0;
  width: 390px;
  height: 400px;
  text-align: center;
  font-weight: bold;
}

.style-text {
  margin: 100px 0 0 160px;
  font-size: 25px;
  font-weight: bold;
}

.mens-bottom-div {
  /* border: 2px solid red; */
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 35px 0 160px 0;
  text-align: center;
  font-weight: bold;
}

.bottom-div-pics {
  margin: 0 60px 0 0;
  width: 890px;
  height: 300px;
  /* border: 2px solid green; */
}

.bottom-last-div-pic {
  width: 890px;
  height: 300px;
}



.mensmenu {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  width: 150px;
  height: 430px;
  margin: 70px 0 0 25px;
}

.mens-menu-text {
  margin-bottom: 40px;
}
.m-clothing-text {
  font-weight: bold;
  margin:40px 0 40px 0;
}

.m-shoes-div {
  margin:40px 0 90px 0;
  height: 220px;
  border-bottom: 2px solid lightgray;
}

.m-shoes-text {
  /* border: 2px solid red; */
  font-weight: bold;
  margin: 65px 0 40px 0;
  
}

/* women */

.womens-main {
  display: flex;
}

.women-title {
  /* border: 2px solid red; */
  margin: 50px 0 0 60px;
  font-size: 26px;
}

.w-question-div {
  /* border: 2px solid red; */
  margin: 140px 0 0 280px;
  font-size: 20px;
  font-weight: bold;
}

.womens-pic-div {
  /* border: 2px solid red; */
  display: flex;
  margin: 50px 0 0 70px;
  justify-content:space-evenly;
  
}

.womensmenu {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  width: 150px;
  height: 430px;
  margin: 70px 0 0 25px;
}

.womens-menu-text {
  margin-bottom: 40px;
}

.w-clothing-text {
  font-weight: bold;
  margin:40px 0 40px 0;
}

.w-shoes-div {
  margin:40px 0 90px 0;
  height: 385px;
  border-bottom: 2px solid lightgray;
}

.w-shoes-text {
  /* border: 2px solid red; */
  font-weight: bold;
  margin: 65px 0 40px 0;
  
}

.womens-active-parent {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.womens-active-div {
  margin: 30px 0 50px 0;
  width: 380px;
  height: 540px;
  text-align: center;
  font-weight: bold;
}

.womens-bottom-div {
  /* border: 2px solid red; */
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 35px 0 160px 0;
  text-align: center;
  font-weight: bold;
}

/* shoes */
.shoes-main {
  display: flex;
}

.shoes-title {
  /* border: 2px solid red; */
  margin: 50px 0 0 60px;
  font-size: 26px;
}

.shoes-question-div {
  /* border: 2px solid red; */
  margin: 140px 0 0 280px;
  font-size: 20px;
  font-weight: bold;
}

.shoes-pic-div {
  /* border: 2px solid red; */
  display: flex;
  margin: 50px 0 0 70px;
  justify-content:space-evenly;
  
}

.shoes-active-parent {
  display: flex;
  justify-content: space-between;
}

.shoes-active-div {
  /* border: 2px solid red; */
  margin: 30px 0 50px 0;
  width: 390px;
  height: 550px;
  text-align: center;
  font-weight: bold;
}

.shoes-bottom-div {
  /* border: 2px solid red; */
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 35px 0 160px 0;
  text-align: center;
  font-weight: bold;
}

.shoesmenu {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  width: 150px;
  height: 430px;
  margin: 70px 0 0 25px;
}

.shoes-menu-text {
  margin-bottom: 40px;
}
.womens-shoes-text {
  font-weight: bold;
  margin:40px 0 40px 0;
}

.mens-shoes-div {
  margin:40px 0 90px 0;
  height: 220px;
  border-bottom: 2px solid lightgray;
}

.mens-shoes-text {
  /* border: 2px solid red; */
  font-weight: bold;
  margin: 65px 0 40px 0;
  
}

/* accessories */

.acc-main {
  display: flex;
}

.acc-title {
  /* border: 2px solid red; */
  margin: 50px 0 0 60px;
  font-size: 26px;
}

.acc-question-div {
  /* border: 2px solid red; */
  margin: 140px 0 0 220px;
  font-size: 20px;
  font-weight: bold;
}

.acc-pic-div {
  /* border: 2px solid red; */
  display: flex;
  margin: 50px 0 0 -30px;
  justify-content:space-evenly;
  
}

.accmenu {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  width: 150px;
  height: 430px;
  margin: 70px 0 0 25px;
}

.acc-menu-text {
  margin-bottom: 40px;
}

.acc-clothing-text {
  /* border: 2px solid red; */
  font-weight: bold;
  margin:40px 0 40px 0;
}

.acc-handbags-div {
  margin:40px 0 90px 0;
  height: 220px;
  border-bottom: 2px solid lightgray;
}

.acc-handbags-text {
  /* border: 2px solid red; */
  font-weight: bold;
  margin: 65px 0 40px 0;
  
}

.acc-active-parent {
  /* border: 2px solid red; */
  /* margin-left: -22px; */
  display: flex;
  justify-content: space-between;
}

.acc-active-div {
  margin: 30px 0 50px 0;
  width: 380px;
  height: 540px;
  text-align: center;
  font-weight: bold;
}

.purse-div {
  /* border: 2px solid red; */
  margin-left: -28px;
}

.scarf-div {
  margin-right: 72px;
}

.acc-bottom-div {
  /* border: 2px solid red; */
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 35px 0 160px 0;
  text-align: center;
  font-weight: bold;
}

.acc-hat-div {
  /* border: 2px solid red; */
  margin-left: -90px;
}

.acc-socks-div {
  margin-left: -20px;
}

.acc-glasses-div {
  margin-left: -20px;
}

.acc-hair-div {
  margin-right: 50px;
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}







